<html>
  <head>
    <title>Article 2</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script> -->
  </head>
  <body>

      <div class="container">
          <div class="row">
              <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">Fashion</a>
                    </div>
                    <ul class="nav navbar-nav">
                      <li><a href="http://localhost:3000">Home</a></li>                     
                      <li><a href="/archive">Archive</a></li>
                      <li><a href="http://localhost:3000/new">Post New Blog</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                  </div>
                </nav>
          </div>

          <div class="row">
              <div class="jumbotron">
            <h1>9 Rules To Follow When Wearing A Suit</h1>  
            </div>
          </div>

          <div class="row">
                <div class="panel-body article2">
                        <img src="/images/suit-4.jpg" alt="dummy" class="bond" width="60%" height="80%">
                        <br>
                        <br>

                    The suit really is the be-all and end-all of style. It’s something every man should own, and it’s something that instantly makes you look and feel better.Even if you’re the definition of ‘I’m not really a suit guy’, there will be occasions (weddings, job interviews, events and more) where you’ll be required to wear a suit. Therefore this article is here to help, as we highlight 7 rules to follow when wearing a suit. Before we start it’s important to note that we’re firm believers that ‘style rules’ are there to be broken, but when it comes to suiting these 7 tips here you really should abide by. Ready?
                    <br>

                    <h2>1. Unfasten The Bottom Button On Your Blazer</h2>
                    When wearing a two-button blazer, you should always unfasten the bottom button on the jacket. This offers a better silhouette and doesn’t restrict your movement. On a three-button suit either button just the middle button or the top two. Sounds enough, but a lot of guys make the mistake of buttoning up the wrong way.
                    <br>

                    <h2>2. Don’t Let The Fit Let You Down</h2>
                    Fit again really is key to pulling off a suit. Remember, if you buy an ‘off the rack’ suit you can get it altered to fit as it should. Here are some things to consider…
                    <strong>Shoulders</strong>  – The blazer should sit flat on your shoulder and the top of the shoulder on the jacket should be the same length as the bone underneath it.
                    <strong>The Trouser Break</strong>  – This is up to personal preference but a general rule is the trouser cuff should fall neatly at the top of your shoe. The trouser will often fall a little bit longer at the back then at the front, and there shouldn’t be any loose fabric bunching up at the bottom.
                    <strong>The Mid Section</strong>  – The jacket should be brought in slightly roughly at the waist to better complement your shape, and this isn’t a difficult adjustment. When buttoning the blazer it should close without creating strain, and again there shouldn’t be any loose or scrunching of fabric around your midline.
                    <strong>The Sleeve Length</strong>  – More on this in a minute, but the jacket sleeves should show half an inch of shirt cuff. They’re too long if the pass your shirt, and they’re too short if the show more than an inch of cuff.
                    <br>

                    <h2>3. Match Your Leathers</h2>
                    A simple rule but one a lot of guys forget to apply. If you’re opting for a brown pair of shoes, go for a brown belt to match. The colour grade doesn’t have to match perfectly, but avoid the black belt and brown shoes combination. Opt for a thin belt over a large one, and make sure the buckle is understated but classy.
                    <br>

                    <h2>4. Unbutton Your Suit Before Sitting Down</h2>
                    When sitting, unfasten the buttons on your blazer. When standing up again, fasten them as you should.
                    <br>

                    <h2>5. Expose Your Sleeve Cuffs Half An Inch</h2>
                    As we’ve already mentioned, this small detail can make a huge impact. It’s a minor adjustment to alter the sleeve lengths on your jacket and you’ll want them to expose half an inch of shirtsleeve. When letting your hands rest down at your side your shirtsleeve should finish at your wrist, not fall over your hand.
                    <br>

                    <h2>6. On A New Suit, Remove Stitching On The Vents</h2>
                    Wow, how many guys forget to remove the stitching on the vents before leaving the house in their new suit? When buying a new suit you’ll tend to find the vents at the back (if you have them) are stitched up, alongside the pockets. Gently using a pair of scissors remove the stitching before wearing the suit.
                    <br>

                    <h2>7. Don’t Stuff Your Pockets</h2>
                    If your trousers fit as they should, you’ll often find the offer a slimming appearance. Therefore stuffing your pockets with a phone, a wallet, gum and car keys will have a negative effect on the/your overall appearance. Store them in your coat pockets, or store the items evenly in the inside pockets on your blazer.
                    <br>

                    <h2>8. Polish Your Shoes</h2>
                    We spoke about the importance of good shoes a while back, and forgetting to polish your shoes is a schoolboy error. It doesn’t take long, and it will help maintain the investment of a good pair of shoes.
                    <br>

                    <h2>9. Don’t Over Accessorise</h2>
                    When wearing a suit, keep your accessories minimal. A pocket square and tie will add a touch of detailing, but a pocket square, a tie, a lapel pin, a tie bar and a scarf is overdoing it. If you feel like you’ve over done it with the accessories, take off the last one you put on…
                    <br>

                    <h2>The Suit</h2>
                    There’s a lot of to choose from in the current market, but invest wisely. Don’t be afraid to pay more and invest in quality, as a good suit is an investment piece which will last you years (if not more.)
            </div>        
        </div>
