<html>
  <head>
    <title>Article 1</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script> -->
  </head>
  <body>

      <div class="container">
          <div class="row">
              <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">Fashion</a>
                    </div>
                    <ul class="nav navbar-nav">
                      <li><a href="http://localhost:3000">Home</a></li>                     
                      <li><a href="/archive">Archive</a></li>
                      <li><a href="http://localhost:3000/new">Post New Blog</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                  </div>
                </nav>
          </div>

          <div class="row">
              <div class="jumbotron">
            <h1>10 Habits of A Stylish Man</h1>  
            </div>
          </div>
          <div class="row">
                <div class="panel-body article1">
                        <img src="/images/wardrobe-for-men1.jpg" alt="dummy" width="100%" height="70%">
                        <br>
                        <br>

                        When being stylish is something you do effortlessly, it means you’ve reached a level of mastery. No man (even if they claim it) is born stylish. As with anything it’s something you become. But what are the habits stylish men adhere too? Here are the 23 habits of a stylish man, how many have you mastered?
                        <br>

                    <h2>1. They're Confident In What They Wear </h2>                   
                    Confidence is the key element to looking good. Sure you may have just purchased a tailor made suit
                     but how do you feel wearing it? A stylish man never neglects comfort in return of looking good. If he doesn’t feel comfortable in his clothes it will show. He knows who he is, how he dresses and he’s confident in whatever he wears.
                    <br>

                    <h2>2. Everything He Wears Fits</h2>
                    Fit is the number 1 fundamental to good style. No piece of ill fitting clothing, no matter how much you spend on it will make you look as good as a well fitted item of clothing. We’re not talking just suiting either. From the denim they wear, the t-shirts, the sports jackets… everything fits to compliment their body type. A stylish man is a perfectionist in terms of the clothing they own, making sure the trouser break falls perfectly or the shirt cuffs end precisely in the right position. They understand the theory of how clothing should fit and everything they own follows that theory.

                    <h2>3. He Knows His Tailors Name</h2>
                    Talking of fit, it’s hard to buy something ‘off the rack’ which fits as it should. Unless you’re a walking mannequin, going into your favourite store and being happy with the fit of an item of clothing is a difficult task. A stylish man knows the importance of a tailor and typically stays loyal to one. A tailor is the key to getting your clothing to fit, from creating bespoke pieces for you to altering clothing you’ve bought ‘off the rack’. Find a tailor who knows exactly what you want and stay loyal to them.
                    <br>

                    <h2>4. He Knows Less Is More</h2>
                    There’s nothing beneficial about a wardrobe filled with 100’s of garments. Less is more in the eyes of a stylish man. Dressing well is all about investing in quality over quantity and keeping things timeless allow you to get more from less. 3 classic, well fitting Button Down Oxford Shirts in white, pale blue and navy trump 12 shirts you bought in the sale that don’t fit. He also knows the importance of simplicity, never overdoing it with colour combinations, accessories and layering.
                    <br>

                    <h2>5. They're Not Afraid To Spend Money On Quality</h2>
                    Following a timeless style they’re not afraid to invest in quality garments. A well manufactured, well fitted £200 sports jacket is going to last longer (and save more money in the process) than a badly made sports jacket on sale for £35. They know quality when they see it and understand the difference between Merino Wool and Cashmere.
                    <br>

                    <h2>6. They’re Not Obsessed With Brands</h2>
                    You’ll never see a stylish man head to toe in one brand, especially a brand the masses know about. There’s no Armani logos on every polo they wear and there’s no bold slogans or branding. Sure they may have a favourite brand they often use for ‘essentials’ but it’s typically not one the masses know about. Just because you went to the Armani store and bought a t-shirt for more than you’d typically pay doesn’t make you a stylish man.
                    <br>

                    <h2>7. He Has A Wardrobe Built Around His Lifestyle</h2>
                    This heavily relates to habit 1. A stylish man knows how he dresses and he builds a wardrobe around it. Of course it would be great to own a number of suits and wear them daily but if that doesn’t suit your lifestyle what’s the point? If you work in a creative position where the dress code is typically more casual than smart donning a three piece suit everyday isn’t necessary. Mastering the smart/casual look and building your wardrobe around that lifestyle would be more beneficial than buying a number of 3 piece suits because James Bond wears them. Define your style and build your wardrobe around your lifestyle.
                    <br>

                    <h2>8. His Wardrobe Is Organised</h2>
                    When you look at a stylish mans wardrobe does it look cluttered? Does anything look out of place? A stylish man keeps his wardrobe organised, everything has a place and he utilises the habit of ‘less is more’. From shoes neatly stored to ties and accessories being neatly put away, a stylish man has a wardrobe that is organised and would make anyone with OCD proud.
                    <br>

                    <h2>9. The Don’t Brag About How Good They Look</h2>
                    Ever heard someone say “how good do I look in this shirt? A stylish man knows his place, he’s confident in what he wears but he’ll never brag about how good he looks. They know their style is better than others but they never verbally express it. There’s no room for arrogance.
                    <br>

                    <h2>10. They Don’t Dish Out The Style Advice</h2>
                    A stylish man is very modest and doesn’t feel the need to dish out style advice to others. Sure they’ll advise if asked but never do they freely tell people how they could look better (or as good as they do). Cut the style advice until your asked (there’s numerous sources they can use for free) and don’t dish it out freely if you think someone needs it.
                    <br>

                    <h2>Your Habits Moving Forward</h2>
                    The habits you work on shape your life so what style habits are you going to focus on? Of course mastering all 10 may be difficult at first, but out of these habits what areas do you need to improve most on? If you enjoyed this article, please share it with someone who would also enjoy it.
                </div>
          </div>

