<html>
  <head>
    <title>Article 3</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script> -->
  </head>
  <body>

      <div class="container">
          <div class="row">
              <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">Fashion</a>
                    </div>
                    <ul class="nav navbar-nav">
                      <li><a href="http://localhost:3000">Home</a></li>                     
                      <li><a href="/archive">Archive</a></li>
                      <li><a href="http://localhost:3000/new">Post New Blog</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                  </div>
                </nav>
          </div>

          <div class="row">
              <div class="jumbotron fluid">
            <h1>How To Pull Off The Smart Casual Dress Code</h1>  
            </div>
          </div>

          <div class="row">
                <div class="panel-body article3">
                    Nothing screams elegance like formal attire, but often occasions don’t call for a full suit. With the smart casual dress code being admired by many, how does a man pull it off? Recent advice has often made things confusing but I’m here today to strip it right down for you, giving you the foolproof principles to follow effortlessly. Want to pull off the smart casual dress code? Here’s how.
                    <br>

                    <h2>The 80/20 Balance</h2>
                    Have you heard of the 80/20 principle by Pareto? Not to worry if you haven’t. It simply means 80% of the outcome comes from 20% of the input. The issue most guys have is when trying to pull off the smart casual look they go for a complete even balance. Typically 50% formal attire, 50% casual attire. It doesn’t have to be even. In fact, the 80/20 rule makes it a lot simpler to understand. I tend to stick with 80% formal, 20% casual. Why? Because 20% of casual will dramatically bring the formality of the look down.
                    <br>

                    <h2>2. More Smart Than Casual</h2>
                    As stated in the previous point, it’s easier to strike the balance but injecting a small amount of casual attire into the look. Piece together your formal attire first and then inject some casual clothing to pull off that smart casual dress code. The smarter clothing will of course carry more weight, it will create more of an impact and typically always be the focal point the the outfit. Therefore put your emphasis on this, and then decide how you want to dress down the outfit. Your options? Here’s a few ideas:
                    <strong>* Replace suit trousers/formal trousers with jeans of chinos.</strong>
                        <br>
                       <strong>* Swap formal shoes for casual (white sneakers work well)</strong>
                       <br>
                       <strong>* Replace your shirt with a t-shirt/polo shirt</strong>
                       <br>
                       <strong>* Lose the tie</strong>
                       <br>
                       <strong>* Swap your blazer for a more casual jacket (Bomber, Harrington ,Leather Jacket)</strong>
                       <br>
                       <strong>* Add in knitwear…</strong>
                    
                    Using the options above you can easily start to strike the balance between smart and casual. Remember, the more casual clothing you introduce the more dressed down you’ll be. Personally I recommend opting for more smart attire over casual.
                    <br>

                    <h2>3. What’s The Occasion?</h2>
                    The occasion obviously plays a big factor in how you strike the balance as well. Is it a date? Dress down Friday’s at work? An interview? A night out? What kind of formality does the occasion call for? A good example of this is sneakers. You can easily dress down a look by replacing your trusted formal footwear with a pair of sneakers… but what if the venue doesn’t allow them? A night out with friends might not call for you to wear a blazer, so it’s trying to strike the balance between smart and casual without overdoing it for the occasion. Look at the venue, think about the type of occasion you’re dressing for and then take inspiration from some of the images below.
                    <div>
                        <img src="images/dresscode-3.jpg" alt="dresscode" class="dresscode3" max-width="100%" height="auto">
                      </div>
                    <br>

                    <h2>Why It’s Important</h2>
                    Personally smart casual is something I always strive towards. Too formal often makes your style look to corporate, and in some instances it looks like you’ve tried too hard. Bridging that balance isn’t difficult, just don’t overthink it. Apply the tips shared in this article and pulling off the smart casual dress code will become a lot easier.
                </div>
          </div>